body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.hero-section {
    background: url("/m0t..png") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.highlight {
    color: #ff0000;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttons {
    margin-bottom: 2rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.order-now {
    background-color: #ff0000;
    color: #fff;
}

.see-menu {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating img {
    height: 40px;
    margin-right: 10px;
}
.tcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    color: #333;
}
#hs{
    color: white;
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #555;
}
#ts{
    color: orangered;
}
#mnb{
    font-size: 20px;
    text-align: center;
    color: white;
}
#tts{
    color: white;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.button {
    background-color: #c00000; /*Red Color*/
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a00000;
}

.button-content {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.button img{
    width: 30px;
    height: 30px;
}
.mcontainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #ptag{
    text-align: center;
    margin-bottom: 40px;
    color: white;  
  }
  .testimonials {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .testimonial {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    width: 48%; 
  }
  
  .testimonial p {
    margin-bottom: 20px;
  }
  
  .testimonial-author {
    display: flex;
    align-items: center;
  }
  
  .testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  

  
  
  .rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  
  .rating span {
    margin-left: 5px;
    font-size: 1.2em;
  }
  
  .star {
      color: gold; 
  }
  #moha{
    text-align: center;
    color: white;
  }
  .fcontainer{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  
  }
  #h1id{
    color: red;
    margin-bottom: 30px;
  
  }
  .faq-item {
    background-color: #111;
    border: 1px solid #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
  }
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .faq-question h2 {
    margin: 0;
  }
  
  .faq-icon {
    color: red;
    font-size: 20px;
    transition: transform 0.3s ease; 
  }
  
  .faq-answer {
    display: none; 
    margin-top: 10px;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  .faq-item.active .faq-icon {
    transform: rotate(45deg); 
  }