* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.logo img {
  height: 50px;
  width: auto;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  display: inline;
  
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  
}

.nav-links a:hover {
  color: #ff4b47;
  text-decoration: underline;
}
.cta .order-now {
  background-color: #ff4b47;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
}
.cta .order-now:hover {
  background-color: #d63028;
}
.active {
  background-color:#ff4b47;
}