body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
}
.menu-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #000;
    border-radius: 10px;
    max-width: 1500px;
    margin: 50px auto;

}
.menu-section h1 {
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.item-det {
    text-align: left;
    margin-right: 40px;
}
.menu-item h2 {
    font-size: 2em;
    color: #D4AF37;
    margin: 10px 0;
}
.menu-item p {
    font-size: 1.1em;
    color: white;
}
.price {
    display: block;
    font-size: 1.5em;
    color: #fa8231;
    margin: 10px 0;
}

.menu-item img {
    width: 400px; 
    height: auto;
    border-radius: 10px;
    margin-right: 50px;
}

.add-to-cart {
    margin-top: 15px;
    background-color: #fa8231; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
}

.add-to-cart:hover {
    background-color: #e76e1b;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
    flex-wrap: wrap;
}

.menu-it {
    text-align: center;
    position: relative;
    width: 350px; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

.menu-it img {
    width: 150%; 
    height: auto;
    border-radius: 10px; 
}

.menu-it h3{
    margin: 10px 0;
    font-size: 30px;
    text-align: center;
    color: #D4AF37;
    font-weight: bold;

}
.menu-it p{
    font-size: 1.1em;
    color: white;

}
